.header {
    background-color: hotpink;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    height: 70px;
    margin: 0;
    h1 {
        margin: 0;
        padding: 10px 20px;
    }
}